<h1>Listing table_indices</h1>

<table>
  <tr>
    <th>Tablename</th>
    <th>Table url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @table_indices.each do |table_index| %>
  <tr>
    <td><%= table_index.tableName %></td>
    <td><%= table_index.table_URL %></td>
    <td><%= link_to 'Show', table_index %></td>
    <td><%= link_to 'Edit', edit_table_index_path(table_index) %></td>
    <td><%= link_to 'Destroy', table_index, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Table index', new_table_index_path %>
