<h1>Listing managerscashes</h1>

<table>
  <tr>
    <th>User</th>
    <th>Balance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @managerscashes.each do |managerscash| %>
  <tr>
    <td><%= managerscash.user_id %></td>
    <td><%= managerscash.balance %></td>
    <td><%= link_to 'Show', managerscash %></td>
    <td><%= link_to 'Edit', edit_managerscash_path(managerscash) %></td>
    <td><%= link_to 'Destroy', managerscash, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Managerscash', new_managerscash_path %>
